.square
{
	background: teal;  
	width: 150px;
	height: 150px;
	vertical-align: middle;
	font-size: 60px;
	padding: 20px;
	text-align: center;    
    border-style: solid;
    
}

#topRow
{
	display: flex;
	
}
#middleRow
{
	display: flex;
	
}
#bottomRow
{
	display: flex;
	
}