* {
    box-sizing: border-box;
}
header {
    text-align: center;
    text-shadow: .5px .5px black;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right,red,yellow);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
nav ul{
    width: auto;
    margin: 0 60px;   
}
nav li{
    list-style: none;
    width: 25%;
    float: left;
    text-align: center;
}
section {
    clear: both;
    width: 50%;
    float: left;
}
section li {
    margin-left: 0;
    list-style: none;
    margin-top: 20px;
}
aside {
    width: 50%;
    float: right;
}
footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}